node_modules
.next
.next-e2e
out
next-env.d.ts
.env
.env.local
.DS_Store
npm-debug.log
tsconfig.tsbuildinfo
test-results/
playwright-report/
coverage/
prisma/schema.generated.prisma
prisma/*.db
prisma/*.db-journal
